body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  padding: 0.77rem 0;
  background-color: #000000;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.88rem;
  color: #fff;
}

h1 .highlight {
  color: #41ecb0;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
}

.App {
  height: 100%;
  padding: 0 10% 10% 10%;
  background-image: url('./background_photo_desktop.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  color: #fff;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}
