.UserPlaylist {
  width: 25%;
  height: 950px;
  overflow-y: scroll;
  padding: 0.88rem;
  background-color: rgba(1, 12, 63, 0.7);
  box-shadow: 0 4px 2px 2px #000000;
}

.UserPlaylist-save {
  cursor: pointer;
  width: 10rem;
  display: block;
  padding: 0.77rem 0;
  border-radius: 54px;
  margin-top: 1.27rem;
  background-color: #6c41ec;
  text-align: center;
  font-size: 0.83rem;
  transition: background-color 0.25s;
  margin-bottom: 20px;
}

.UserPlaylist-save:hover {
  background-color: rgba(108, 65, 233, 0.7);
}

.UserPlaylist li {
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.UserPlaylist-name {
  display: flex;
  flex-grow: 1;
  height: 52px;
  align-items: center;
}

.UserPlaylist-action {
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.05rem;
  transition: color 0.25s;
}

.UserPlaylist-action:hover {
  color: rgba(265, 265, 265, 0.5);
}

@media only screen and (max-width: 1020px) {
  .UserPlaylist {
    width: 90%;
    margin-bottom: 2rem;
  }
}
